{% comment %}
  Pagination snippet
  Variables:
  - paginate: pagination object
{% endcomment %}
{% if paginate.total_count > 0 %}
  <div class="container text-sm">
    {% if paginate.total_pages > 1 %}
      <div class="join px-4 space-x-1">
        <a data-turbo-action="advance" {% if paginate.prev_page %}href="{{ paginate.url_for[paginate.prev_page] }}"{% else %}disabled{% endif %} class="btn btn-soft btn-circle shadow">
          <i class="ri-arrow-left-s-line"></i>
          <span class="sr-only">{{ 'paginate.previous' | t: 'Previous page' }}</span>
        </a>
        {% for i in paginate.series %}
          {% assign type = i | typeof %}
          {% case type %}
            {% when 'string' %}
              {% if i == 'gap' %}
                <span class="join-item btn border-none btn-soft btn-circle">...</span>
              {% else %}
                <span aria-current="page" class="join-item btn btn-primary btn-circle border-none shadow shadow-primary/20 btn-active">{{ i }}</span>
              {% endif %}
            {% when 'integer' %}
              <a data-turbo-action="advance" href="{{ paginate.url_for[i] }}" class="join-item btn btn-soft btn-circle border-none shadow">{{ i }}</a>
          {% endcase %}
        {% endfor %}
        <a data-turbo-action="advance" {% if paginate.next_page %}href="{{ paginate.url_for[paginate.next_page] }}"{% else %}disabled{% endif %} class="btn btn-soft btn-circle shadow">
          <i class="ri-arrow-right-s-line"></i>
          <span class="sr-only">{{ 'paginate.next' | t: 'Next page' }}</span>
        </a>
      </div>
      <div class="text-center text-base-content/50 mt-4">
        {{ 'paginate.showing' | t: 'Showing' }}
        <span class="font-medium">{{ paginate.from }}</span>
        {{ 'paginate.range_separator' | t: '–' }}
        <span class="font-medium">{{ paginate.to }}</span>
        {{ 'paginate.records' | t: 'records' }},
        {{ 'paginate.total' | t: 'Total' }}
        <span class="font-medium">{{ paginate.total_count }}</span>
        {{ 'paginate.records' | t: 'records' }}
      </div>
    {% else %}
      <div class="text-center text-base-content/50 mt-4">
        {{ 'paginate.total' | t: 'Total' }}
        <span class="font-medium">{{ paginate.total_count }}</span>
        {{ 'paginate.records' | t: 'records' }}
      </div>
    {% endif %}
  </div>
{% endif %}
