<!DOCTYPE html>
<html class="scroll-pt-16 scroll-smooth bg-base-100 font-sans antialiased" lang="{{ site.language }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% meta_tags %}
    {% render 'theme_runtime_colors' %}
    {{ 'stylesheets/application.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/application.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ site.settings.head_html }}
  </head>

  <body class="min-h-screen text-base-content" x-data>
    <div class="isolate">
      {% render 'shell_open', current_page: page %}
      <turbo-frame id="main-content-frame" data-turbo-action="advance" class="flex min-h-screen flex-col">
        {{ content_for_layout }}
      </turbo-frame>
      {% render 'footer' %}
      {% render 'shell_close' %}
    </div>
  </body>
</html>
